@import resolve("font-awesome/css/font-awesome.css");
@import resolve("flexboxgrid/dist/flexboxgrid.css");
@import resolve("roboto-fontface/css/roboto/roboto-fontface.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
    margin: 2em;
    opacity: 1;
}

.card-loading {
    opacity: 0.8;
}

.form {
    padding-bottom: 24px;
}

.form-control {
    width: 100% !important;
}

.form-control-checkbox {
    margin-top: 24px;
}
