.overlay {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.298039);
}
